.NotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  
    .colorful-text {
      display: inline-block;
      background: -webkit-linear-gradient(
        #ca4246 16.666%,
        #e16541 16.666%,
        #e16541 33.333%,
        #f18f43 33.333%,
        #f18f43 50%,
        #8b9862 50%,
        #8b9862 66.666%,
        #78cfdf 66.666%,
        #479898 83.333%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
    .redirect-btn {
      cursor: pointer;
      width: 200px;
      height: 50px;
    }
  
    // Mobile view
    @media only screen and (max-width: 619px) {
      h1 {
        text-align: center;
        padding: 0 25px;
      }
    }
  }